<appSettings>
  <!-- Registraion Msgs-->
  <add key="Registration" value="customeruserregist" />
  <add key="SUBACCOUNTFORMNAME" value="SubAccountRegisterForm" />
  <add key="REGISTRATIONFORM" value="UserRegisterForm" />
  <add key="USERCREATIONSUCCESSFUL" value="User created successfully."/>
  <add key ="USERCREATIONUNSUCCESSFUL" value="Registration was unsuccessful."/>
  <add key="PASSWORDSALT" value="ABCDEF0123456abcdef!@#$%^"/>
  <add key="LOGINERROR"  value="Please enter valid user id and password."/>
  <add key ="ADDRESSTYPE" value="Sender"/>
  <add key="enableSimpleMembership" value="true" />
  <add key="AccountDisabledVal" value="Your account is disabled. Please contact customer service representative."/>
  
  <add key="PASSWORDLINKFORREGISTRATION" value="&lt;a href='http://www.ezyparcels.com/CustomerPortal/Change_Password?ResetToken=@token'&gt; Click here to Change pasword &lt;/a&gt; " />
  <add key="PASSWORDLINKFORREGISTRATIONAPPROVAL" value="&lt;a href='http://www.ezyparcels.com/CustomerPortal/Change_Password?ResetToken=@token'&gt; Click here to Set New Password. &lt;/a&gt; " />
  <!---End-->
  <!--Sub Account Enable disable-->
  <add key="DISABLEMSG" value="Disable"/>
  <add key="ENABLEMSG" value="Enable"/>
  <add key ="SAVESUCCESSFUL" value ="Sub account saved successfully."/>
  <!--User Saved successfully-->
  <add key ="USEREXISTS" value="This userid already exists, please enter new user id."/>
  <add key ="SUBACCOUNTLIMITEXCEEDS" value ="You have reached maximum number of sub accounts(20)allowable for your account, please disable unused a/c to create new account."/>
  <!--End keys-->
  <!--Email templates-->
  <add key="adminmail" value="adminmail" />
  <add key="emailus" value="Emailus"/>
  <add key="BlkuploadCustomerTemplate" value="BlkuploadCustomerTemplate" />
  <add key="BlkuploadUserTemplate" value="BlkuploadUserTemplate" />
  <add key="BlkuploadUserTemplate_JP" value="BlkuploadUserTemplate_JP" />
  <add key="BlkuploadUserTemplate_TC" value="BlkuploadUserTemplate_TC" />
  <add key="CustomerServiceForWalkin" value="CustomerServiceForWalkin" />
  <!-- End Keys-->
  <!--WebApi Call-->
  <add key="ApiForEmail" value="http://10.2.1.158:81/EzyParcelsEmailComponent/EmailNotificationsAPI/EmailComponentnonloggedinuser/nouser="/>
  <add key="ApiForEmailLogin" value="http://localhost:62090/EmailNotificationsAPI/EmailComponentloggedinuser/user="/>
  <!--End Keys-->
  <!-- Exception Handling Policies-->
  <add key="UIPolicy" value="UI Policy" />
  <add key="DataPolicy" value="Data Access Policy" />
  <add key="BussinessPolicy" value="Bussiness Logic Policy" />
  <!-- End Keys-->
  <!--  MVC System Generated Keys-->
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- End Keys-->
  <!--Encryption Decryption -->
  <add key="ENCRYPTSALT" value="kdle*9_ks#/7qnys"/>
  <add key="ENCRYPTKEY" value="256"/>
  <add key="PASSPHRASE" value="OxfNsbnQuj"/>
  <!--End-->
  <!--Messages to be displayed for Forget Passwords-->
  <add key="CHANGEPASSWORD" value="ChangePassword"/>
  <add key="FORGETPASSWORDSUBJECT" value="Forget Password"/>
  <add key="FORGETPASSWORDFAILED" value="Please provide valid User ID/Account ID"/>
  <!-- Please provide valid user Id.-->
  <add key="FORGETPASSWORDFAILEDFOREMAILID" value="Please enter a valid email address."/>
  <!--Unable to recognize the Email Address-->
  <add key="FORGETPASSWORDSUCCESS" value="Password reset link has been sent to your registered email."/>
  <add key="FORGETUSERID" value="Your user id is emailed to your registered email address."/>
  <!-- End Keys-->
  <!--Messages to be displayed for change Passwords-->
  <add key="CHANGEPASSWORDSUCCESS" value="You have changed your password successfully."/>
  <add key="CHANGEPASSWORDFAILURE" value="Password Change was unsuccessful."/>
  <add key="PASSWORDMISMATCH" value="Please provide the valid password to continue."/>
  <add key="PASSWORDSET" value="Password Reset Token Expired."/>
    <!--BulkUpload Configurations-->
    <add key="BULKUPLOADFILEPATH" value="D:\\EzyParcels\\BulkXLfiles"/>
    <add key ="BulkUploadExcelQuery" value="SELECT * FROM [@SheetName$] WHERE [Item Description] is not null or [Declared Currency] is not null or [Last Name] is not null or [Country] is not null"/>
    <add key="ERRORUPLOADREFNO_EN" value="Upload reference number could not be generated"/>
    <add key="ERRORORDERID_EN" value="Order ID could not be generated"/>
    <add key ="NOTVALIDFILE_EN" value="@FILENAME is not a valid excel file"/>
    <add key ="NOCUSTOMERREFNO_EN" value="Customer reference number is mandatory and cannot be blank in file"/>
    <add key ="ERRORBULKCOPY_EN" value ="Please enter only numeric value for (Weight per article(in gms) / SerialNo / Insured value / COD Value) in "/>
    <add key ="UPLOADERRORFILE_EN" value ="Could not upload file/s.: "/>
    <add key ="UPLOADERROR_EN" value ="Could not upload file/s."/>
    <add key ="TEMPLATEERROR_EN" value ="The '@FILENAME' template that you have uploaded does not  match with the Service type selected "/><!--Uploaded file '@FILENAME' doesn't match with Service type chosen, please re-upload-->
    <add key ="TEMPLATEERRORFILE_EN" value ="Could not validate template"/>
    <add key ="EXCELROWERROR_EN" value ="@FILENAME must contain atleast one row"/>
    <add key ="EXCELROWLIMITEXCEED_EN" value ="Maximum rows allowed per upload is @FILEROWLIMIT"/>
    <add key ="NOFILE_EN" value ="Select atleast one file to upload"/>
    <add key ="UPLOADSUCCESS_EN" value ="Successfully uploaded file(s)"/>
    <add key ="VALIDATIONERROR_EN" value="Please correct the data of the rejected file(s) and upload again"/>
    <add key ="FILESIZEOUTOFRANGE_EN" value ="File @FILENAME exceeds 2MB limit"/>
    <add key ="FILELIMIT" value ="2097152"/>
    <add key ="PORTALFILEROWLIMIT" value="5000"/>
    <add key ="ADMINFILEROWLIMIT" value="10000"/>
    <add key ="ONFLYPROCESSINGLIMIT" value ="21"/>
    <add key ="BATCHPROCESSFAIL_EN" value ="Currently unable to process your order. Please try later"/>
    <add key ="REPORTGENERATIONFAIL_EN" value="Reports could not be generated"/>
    <add key ="REMOVEERRORFILES_EN" value="Please Remove or Reupload error files and click on submit"/>
    <add key ="ERRORINPROCESSBATCH_EN" value ="Failed to process Batch. Please try later"/>
    <add key ="RMFAILURE_EN" value ="Currently unable to process your order. Please try later"/>
    <add key ="TRACKINGNUMBERFAILURE_EN" value ="Tracking Number could not be generated"/>
    <add key ="POSTAGEFAIL_EN" value ="No postage found for entries uploaded, please contact your local sales representative."/>
    <add key ="VALIDATIONSUCCESS_EN" value ="Please click on submit to proceed with your order"/>
    <add key ="ADMINBATCHGENERATED_EN" value ="Order is processed and Batch ID is @BATCHID"/>
    <add key ="INVALIDBATCHSUBMISSION_EN" value ="Invalid Batch submission"/>
    <add key ="DELAYEDBATCHPROCESSMESSAGE_EN" value ="Upload Reference no.: @UPDREFNO . Please wait while we process your order. You will receive notification once it is complete. "/>
    <add key ="BATCHFAILURE_EN" value="Batch Process Failure"/>
    <add key ="BATCHSTATUSSUCCESS_EN" value =". Batch Id: @BATCHID"/>
    
    
    <!-- End Keys-->
  <!--BulkUpload Configurations Traditional chinese -->
  <add key="ERRORUPLOADREFNO_CT" value="無法產生檔案上傳的參考編號。"/>
  <add key="ERRORORDERID_CT" value="無法產生訂單編號。"/>
  <add key ="NOTVALIDFILE_CT" value="@FILENAME 不是一個有效的Excel文件"/>
  <add key ="NOCUSTOMERREFNO_CT" value="參考號碼是必填的，不能將此欄位留白。"/>
  <add key ="ERRORBULKCOPY_CT" value ="重量˴ 序號˴ 投保額 ˴ 貨到付款價值只可輸入數字 "/>
  <add key ="UPLOADERRORFILE_CT" value ="無法上傳檔案。: "/>
  <add key ="UPLOADERROR_CT" value ="無法上傳檔案。"/>
  <add key ="TEMPLATEERROR_CT" value ="您所上傳的檔案 '@FILENAME' 不適用於所選擇的服務類別。"/><!--Uploaded file '@FILENAME' doesn't match with Service type chosen, please re-upload-->
  <add key ="TEMPLATEERRORFILE_CT" value ="無法驗證模板。"/>
  <add key ="EXCELROWERROR_CT" value ="@FILENAME 至少要包含一行貨件資料。"/>
  <add key ="EXCELROWLIMITEXCEED_CT" value =" 每次最多可上傳@FILEROWLIMIT 列 "/>
  <add key ="NOFILE_CT" value ="請選擇至少一個檔案上傳。"/>
  <add key ="UPLOADSUCCESS_CT" value ="檔案上傳成功。"/>
  <add key ="VALIDATIONERROR_CT" value="請更正上傳失敗的檔案，並重新上傳。"/>
  <add key ="FILESIZEOUTOFRANGE_CT" value ="檔案 @FILENAME 不能超過2MB的限制。"/>
    <!--<add key ="FILELIMIT" value ="2097152"/>
  <add key ="PORTALFILEROWLIMIT" value="5000"/>
  <add key ="ADMINFILEROWLIMIT" value="10000"/>
  <add key ="ONFLYPROCESSINGLIMIT" value ="21"/>-->
  <add key ="BATCHPROCESSFAIL_CT" value ="目前無法處理您的訂單，請稍後再試。"/>
  <add key ="REPORTGENERATIONFAIL_CT" value="無法產生報告"/>
  <add key ="REMOVEERRORFILES_CT" value="請刪除或重新上傳檔案，並點擊提交"/>
  <add key ="ERRORINPROCESSBATCH_CT" value ="無法處理批量。請稍後再試。"/>
  <add key ="RMFAILURE_CT" value ="目前無法處理您的訂單，請稍後再試。"/>
  <add key ="TRACKINGNUMBERFAILURE_CT" value ="無法產生追蹤號碼。"/>
  <add key ="POSTAGEFAIL_CT" value ="系統無法計算上載批次中某些貨件的運費， 因此無法繼續投寄流程。請即聯絡您的銷售代表以得到協助。"/>
  <add key ="VALIDATIONSUCCESS_CT" value ="請點擊提交以繼續。"/>
  <add key ="ADMINBATCHGENERATED_CT" value ="訂單已獲處理，批次編號是 @BATCHID 。"/>
  <add key ="INVALIDBATCHSUBMISSION_CT" value ="提交批次失敗。"/>
  <add key ="DELAYEDBATCHPROCESSMESSAGE_CT" value ="上傳參考編號 : @UPDREFNO . 請稍候，我們正在處理您的批量。處理完成後，您將會收到通知。"/>
  <add key ="BATCHFAILURE_CT" value="批量處理失敗 "/>
  <add key ="BATCHSTATUSSUCCESS_CT" value =". 批次編號: @BATCHID"/>
  <!-- End Keys-->

  <!--BulkUpload Configurations Simplified Chinese-->
  <add key="ERRORUPLOADREFNO_CS" value="无法生成档案上传的参考编号。"/>
  <add key="ERRORORDERID_CS" value="无法生成订单编号。"/>
  <add key ="NOTVALIDFILE_CS" value="@FILENAME 不是一个有效的的Excel文件"/>
  <add key ="NOCUSTOMERREFNO_CS" value="参考号码是必填的，不能将此栏位留白。"/>
  <add key ="ERRORBULKCOPY_CS" value ="重量˴序号˴投保额˴货到付款价值只可输入数字"/>
  <add key ="UPLOADERRORFILE_CS" value ="无法上传档案。: "/>
  <add key ="UPLOADERROR_CS" value ="无法上传档案。"/>
  <add key ="TEMPLATEERROR_CS" value ="您所上传的档案 '@FILENAME' 不适用于所选择的服务类别。"/><!--Uploaded file '@FILENAME' doesn't match with Service type chosen, please re-upload-->
  <add key ="TEMPLATEERRORFILE_CS" value ="无法验证模板。"/>
  <add key ="EXCELROWERROR_CS" value ="@FILENAME 至少要包含一行货件资料。"/>
  <add key ="EXCELROWLIMITEXCEED_CS" value ="每次最多可上传@FILEROWLIMIT 列 "/>
  <add key ="NOFILE_CS" value ="请选择至少一个档案上传。"/>
  <add key ="UPLOADSUCCESS_CS" value ="档案上传成功。"/>
  <add key ="VALIDATIONERROR_CS" value="请更正上传失败的档案，并重新上传。"/>
  <add key ="FILESIZEOUTOFRANGE_CS" value ="档案 @FILENAME 不能超过2MB的限制。"/>
  <!--<add key ="FILELIMIT" value ="2097152"/>
  <add key ="PORTALFILEROWLIMIT" value="5000"/>
  <add key ="ADMINFILEROWLIMIT" value="10000"/>
  <add key ="ONFLYPROCESSINGLIMIT" value ="21"/>-->
  <add key ="BATCHPROCESSFAIL_CS" value ="目前无法处理您的订单，请稍后再试。"/>
  <add key ="REPORTGENERATIONFAIL_CS" value="无法生成报表"/>
  <add key ="REMOVEERRORFILES_CS" value="请删除或重新上传档案，并点击提交"/>
  <add key ="ERRORINPROCESSBATCH_CS" value ="无法处理批量。请稍后再试。"/>
  <add key ="RMFAILURE_CS" value ="目前无法处理您的订单，请稍后再试。"/>
  <add key ="TRACKINGNUMBERFAILURE_CS" value ="无法生成追踪号码。"/>
  <add key ="POSTAGEFAIL_CS" value ="系统无法计算上载批次中某些货件的運费， 因此无法继续投寄流程。请即联络您的销售代表以得到协助。"/>
  <add key ="VALIDATIONSUCCESS_CS" value ="请点击提交以继续。"/>
  <add key ="ADMINBATCHGENERATED_CS" value ="订单已获处理，批次编号是 @BATCHID。"/>
  <add key ="INVALIDBATCHSUBMISSION_CS" value ="提交批次失败。"/>
  <add key ="DELAYEDBATCHPROCESSMESSAGE_CS" value ="上传参考编号 : @UPDREFNO . 请稍候，我们正在处理您的批量。处理完成后，您将会收到通知。"/>
  <add key ="BATCHFAILURE_CS" value="批量处理失败"/>
  <add key ="BATCHSTATUSSUCCESS_CS" value =". 批次编号: @BATCHID"/>
  <!-- End Keys-->
  
  <!--Ebay Configurations-->
  <add key="EBaySignInURL" value="https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn&amp;runame="/>
  <add key="EBayRuName" value="Singapore_Post_-Singapor-9c82-4-mqzjr"/>
  <add key="EBayDeveloperID" value="0722160d-d739-4454-a55a-d0e3f2afc8b4"/>
  <add key="EBayApplicationID" value="Singapor-9c82-450c-97b9-91bea520807e"/>
  <add key="EBayCertificateID" value="099f4f44-b32a-4b7b-bd3a-df381c5277f2"/>
  <!-- for Production, set the APIServerURL to https://api.ebay.com/ws/api.dll -->
  <add key="EBayAPIServerURL" value="https://api.sandbox.ebay.com/ws/api.dll"/>
  <add key="EBayAPIVersion" value="821"/>
  <add key="EBaySiteID" value="0"/>
  <add key="EbayTemplatePath" value="D:\\EzyParcelsApplication\\EbayTemplate\\"/>
  <add key="EbayLogTrackerFilePath" value="D:\\EzyParcelsApplication\\EbayLog\"/>
  <!-- needs to change-->
  <!-- needs to change-->
  <add key="EbayExcelConnectionstring" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source='@DestinationFullPath';Extended Properties='Excel 12.0;ReadOnly=False;HDR=Yes;'"/>

  <!-- End Ebay Keys-->
  <!--Contact us Keys-->
  <add key="CONTACTUSDEFAULTCOUNTRY" value="AU"/>
  <add key="CONTACTUSMESSAGE" value="Enquiry received. Our customer service representative will get in touch with you shortly."/>
  <!--End keys-->
  <!--Online Mailing Orders Configuration-->
  <add key="Save" value="Save"/>
  <add key="Submit" value="Submit"/>
  <add key="Paid" value="Paid"/>
  <add key="Submitted" value="Submitted"/>
  <add key="customerAccTypeWalkin" value="A"/>
  <add key="CustomerTypeWalkin" value="W"/>
  <add key="CustomerTypeRegistered" value="R"/>
  <add key="TransactionType" value="Manual Entry"/>
  <add key="WalkinCustomer" value="System"/>
  <!--End keys-->

  <!--Shipping Label Reports-->
  <add key="AddressLabelFinalReportPath" value="D:\\EzyParcels\Reports\Address Label\Final\" />
  <add key="ConsignmentNoteFinalReportPath" value="D:\\EzyParcels\Reports\Consignment Note\Final\"/>
  <add key="ConsignmentNoteAirparcelFinalReportPath" value="D:\\EzyParcels\Reports\Consignment Note Airparcel\Final\"/>
  <add key="ManifestFinalReportPath" value="D:\\EzyParcels\Reports\Manifest"/>
  <add key="ReportNotFound" value="Report is not generated."/>
    

    <!--End keys-->    
    
    <!--Key-value for paypal-->
    <add key="BusinessEmail" value="snu_1303795600_biz@yahoo.co.in"/>
    <add key="CancelPurchaseUrl" value="/CustomerPortal/PostLogin"/>
    <add key="ReturnUrl" value="/CustomerPortal/ReturnFromPaypal"/>
    <add key="NotifyUrl" value=""/>
    <add key="PayPalUsername" value="sonu_silicon@yahoo.co.in"/>
    <add key="PDTToken" value="eLIuLWgJVs544UHSLLm4uPRwsF7S4ApFPcg3w1TR1DHZZ31aFNYnF2mh_Li"/>
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>

    <add key="APIUsernameMY" value="srimanta.samal_api1.gmail.com"/>
    <add key="APIPasswordMY" value="QXB6FEU7FP7L9M8D"/>
    <add key="APISignatureMY" value="Avuy9hL9CabESZOSGfMDkCp9X6ZMASVONJc5-zWlSeoC33wrjLgUssf7"/>
    <add key="APIUsername" value="snu_1303795600_biz_api1.yahoo.co.in"/>
    <add key="APIPassword" value="1303795614"/>
    <add key="APISignature" value="AUyoAFvsjj8el3RBxeq20.QRk.QJA0MnDXW3JPi2dtF4RJ76rWP6ddHq"/>
    <add key="APIVersion" value="65.0"/>
    <add key="PaypalExressCheckOutUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout"/>
    <add key="PaypalProfileEnvironmnet" value="sandbox"/>
  <!--End of keys for PayPal-->

    <!--Essential Key/Value for Rest API Solution-->
    <add key="RestApiUserName" value="Quantium"/>
    <add key="RestApiPassWord" value="Qu@ntium2013"/>
    <add key="RestApiBatchProcessUrl" value="http://182.74.54.66/EzyparcelsBatchProcess/BatchProcessAPI/"/> <!--initially done according to my local PC,Indranil-->
    
    <!--Webservice Urls-->
    <add key="QuantiumWebService" value="http://www.quantiumaspac.com/ecomserviceUAT/service.asmx"/>
    <add key="QuantiumWebServiceTrackAndTrace" value="http://www.quantiumaspac.com/ecomtrackerwsUAT/service.asmx"/>
    <!-- End -->
  <!--Postage Calculator WebService -->
  <add key="POSTAGECALCULATORSERVICE" value="http://www.quantiumaspac.com/ecomserviceUAT/service.asmx"/>
  <add key="POSTAGECALCULATORSERVICENAME" value="Service"/>
  <add key="PR_POSTAGECALCULATOR" value="Pr_PostageCalculatorwithVolumetricWeight"/>
  <add key="FN_GET_BOSDESTINATION" value="fn_Get_BOSDestination"/>
  <add key="FN_GET_TOCURRENCY" value="fn_Get_ToCurrency"/>
  <add key="PR_CURRENCYCALCULATOR" value="pr_CurrencyCalculator"/>
  <add key="PR_BULK_POSTAGECALCULATOR" value="Pr_Bulk_PostageCalculator"/>
  <add key="FN_GET_ECOMSERVICE" value="fn_Get_EComService"/>
  <add key="PR_BULK_POSTAGECALCULATORWITHVOLUMETRICWEIGHT" value="Pr_Bulk_PostageCalculatorwithVolumetricWeight"/>  
  <add key="FN_GET_BOSINVCRFTPPATH" value="fn_Get_BOSInvCRFTPPath"/>
  <add key="E2S_INSURANCE" value="e2s_Insurance"/>  
  <!-- End -->
 <!--User Registration WebService-->
  <add key="USERREGISTRATIONSERVICE" value="http://www.quantiumaspac.com/ecomserviceUAT/service.asmx" />
  <add key="USERREGISTRATIONSERVICENAME" value="Service"/>
  <add key="USEREGISTRATIONMETHOD" value="Pr_InsertBOSEComCustomer"/>
  
  <!--End-->
  <add key="EmailComponentUrl" value="http://182.74.54.66/EzyParcelsEmailComponent/EmailNotificationsAPI/"/>
  <add key="enableSimpleMembership" value="true" />
  <!--Logout msg-->
  <add key="LOGOUT" value=""/> 

    <!--Order Amendment-->
  <add key="CONTACTNUMBER" value="9085642315"/>
  <add key="CONTACTMAILID" value="sg.customerservice@quantiumsolutions.com"/>
  <add key="FOOTERCONTENT" value="EzyParcels.com"/>
  <add key="SUBJECT" value="Order Amendment Acknowledgement"/>
  <add key="TEMPLATE" value="OrderAmendment"/>
  <add key="ADVTEMPLATE" value="OrderAmendmentAdvanced"/>
  <add key="CRDTEMPLATE" value="OrderAmendmentCredit"/>
  <add key="ORDERCANCELATIONPROCESSED_EN" value="Order is cancelled successfully"/>
  <add key="ORDERCANCELATIONPROCESSED_CT" value="成功取消訂單"/>
  <add key="ORDERCANCELATIONPROCESSED_CS" value="成功取消订单"/>
  <!--End keys-->
      <!--Roles Implementation-->
     <add key="USERTYPE" value="ApplicationUser"/>
     <add key="ADMINUSER" value="BackOfficeUser"/>
     <!--end keys-->
    <!--Routing Matrix reports-->
    <add key ="barcodepath" value="D:\EzyParcels\TempImages\"/>
	<add key ="ReportsFolder" value ="D:\EzyParcels\Reports"/>
    <add key="UIPolicy" value="UI Policy" />
    <add key="DataPolicy" value="Data Access Policy" />
    <add key="BussinessPolicy" value="Bussiness Logic Policy" />

    <add key="crystalReportspath" value="D:\EzyParcelsnew\build\SingPost.Reports\CrystalReports\"/>
	
    <add key="AddressLabelFinalReportPath" value="D:\EzyParcels\Reports\Address Label\Final\"/>

    <add key="ConsignmentNoteFinalReportPath" value="D:\EzyParcels\Reports\Consignment Note\Final\" />

    <add key="ConsignmentNoteAirparcelFinalReportPath" value="D:\EzyParcels\Reports\Consignment Note Airparcel\Final\" />

    <add key="ManifestFinalReportPath" value="D:\EzyParcels\Reports\Manifest\"/>

    <add key ="AddressLabelTempReportPath" value="D:\EzyParcels\Reports\Address Label\Temp\" />

    <add key ="ConsignmentNoteTempReportPath" value="D:\EzyParcels\Reports\Consignment Note\Temp\" />

    <add key ="ConsignmentNoteAirparcelTempReportPath"  value="D:\EzyParcels\Reports\Consignment Note Airparcel\Temp\"/>

    <add key="ManifestReportPath" value="D:\EzyParcels\Reports\Manifest\"/>
	
    <add key="barcodeFontFilePath" value="D:\EzyParcelsnew\build\SingPost.Reports\Reports\Fonts\FREE3OF9.TTF"/>
    <add key="barcodeFontSize" value="44"/>
  <!--End Keys-->
	<!--Profile report keys-->
	<add key="ProfileReport" value="D:\EzyParcelsnew\Reports\UpdateUser\"/>
	<!--End keys-->
 <!-- SMTP Configurations -->

    <!--<add key="SMTPMAILER" value="support@ezyparcels.com"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="userName" value="support@ezyparcels.com"/>
    <add key="password" value="Su990rtm@1L"/>
    <add key="enableSsl" value="true"/>-->
    <add key="SMTPMAILER" value="ezyparcelsuat@gmail.com"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="userName" value="ezyparcelsuat@gmail.com"/>
    <add key="password" value="Exilant3456"/>
    <add key="enableSsl" value="true"/>
    <!--_End Configurations-->
<!--ReCaptcha-->
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="ReCaptchaPrivateKey" value="6LeejuwSAAAAAFsskJoQvs3nSABJoCoTt0iIN2Nr" />
  <add key="ReCaptchaPublicKey" value="6LeejuwSAAAAADZ65s8WWc6zKziFKkr3VoAvopHD" />
  <add key="CAPTCHAERRORMSG" value="You did not type the verification word correctly. Please try again."/>
  <!--end keys-->
   <!--Paths For CMS Application-->
  <add key="StaticDoctempFilePath" value="\Content\Documents\tempFile\"/>
  <add key="staticRepositoryPath" value="\StaticRepository\"/>  
  <!--end keys-->
  <!--Key for Storing temporary files for routing matrix Bulk Upload-->
  <add key="RoutingMatrixFiles" value="D:\\EzyParcelsnew\\RoutingMatrixFiles"/>
  <!--end keys-->    
  <!--Routing Matrix Services Keys-->
  <add key="PriorityDomestic" value="PriorityDos"/>
  <add key="PriorityInternational" value="PriorityInt"/>
  <add key="RegisteredPlusDomestic" value="RegisteredPlusDos"/>
  <add key="RegisteredPlusInternational" value="RegisteredPlusInt"/>
  <add key="RegisteredDomestic" value="RegisteredDos"/>
  <add key="RegisteredInternational" value="RegisteredInt"/>
  <add key="StandardDomestic" value="StandardDos"/>
  <add key="StandardInternational" value="StandardInt"/>
  <add key="PremiumInternational" value="PremiumInt"/>
  <!--end keys-->
    <!--Configure Downloads-->
    <add key ="DOWNLOADSDELETESUCCESS" value ="Successfully deleted"/>
    <add key ="DOWNLOADSEDITSUCCESS" value ="Information saved successfully"/>
    <add key ="DOWNLOADSDELETEFAILURE" value ="Could not delete the selected item"/>
    <add key ="DOWNLOADSEDITFAILURE" value ="Could not save the selected item"/>
    <add key ="DOWNLOADSAVEFAIL" value ="Could not upload"/>
    <add key ="DOWNLOADSAVESUCCESS" value ="Successsfully uploaded"/>
    <!--End Keys-->    
     <!--End Keys-->
    <add key="authCodelinkVariance" value="/CustomerPortal/SpecialPaymentOption"/>
    <!--variance link key-->
    
    <!--Paypal Error-->
  <!--<add key="ERRORINPAYPAL" value="Error in paypal payment"/>-->
    <add key="ERRORINPAYPAL_EN" value="Error in paypal payment"/>
    <add key="ERRORINPAYPAL_CT" value="PayPal支付失敗。"/>
    <add key="ERRORINPAYPAL_CS" value="PayPal支付失败。"/>
  <!--End Key-->
    <!--manual tracking-->
  <add key="TRACKINGNUMBERFILEPATH" value="D:\EzyParcelsnew\BulkExcelFiles" />
  <add key="TRACKINGNUMBERUPLOADEXCELQUERY" value="SELECT [Tracking Number] FROM [@SheetName$] WHERE [Tracking Number] is not null"/>
    <!--end key-->
	 <!--Send Communication-->
  <add key="MailCommunication" value="Communication Sent Successfully."/>
  <!--end key-->
  <!--LWMS-->

  <add key="LWMSReportPath" value="D:\EzyParcels\ClientSide\LWMS\"/>
  <add key ="AUTHTOKENFORLWMS" value="S!ngpost2014"/>
  <add key ="LWMSInvalidReportPath" value="D:\EzyParcelsnew\SingPost.Reports\Reports\LWMS\InvalidFile.pdf"/>
  <add key="LWMSAccessPath" value ="http://www.ezyparcels.com/CustomerPortal/LWMSReport/"/>
  <!--End Keys-->
  <!--Internal Mail Send-->
	<add key="INTERNALTOMAILID" value ="manasranjan.b@exilant.com"/>
	<add key="INTERNALCCMAILID" value ="manasranjan.b@exilant.com"/> 
  <!--end Key-->
	<!--excell report Path-->
	<add key="EXCELLREPORTPATH" value="D:\EzyParcelsnew\Reports\Templates\"/>
	<!--end key-->
  <!--For Production/UAT/SIT server where the deployment should be done through IIS the value should be "1" otherwise it should be "0" (local)-->
  <add key="IISMODE" value="0"/>
</appSettings>
